@media screen and (max-width: 1000px) {
    div.container-first {
        max-width: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        height: auto;
    }
    
    div.container-one {
        max-width: 90%;
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    
    div.container-two {
        max-width: 90%;
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    
    div.container-three {
        max-width: 90%;
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    
    div.container-four {
        max-width: 90%;
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    
    .btn {
        padding: 20px;
        float: none;
        margin-left: 15px;
        margin-bottom: auto;
    }
}

@media screen and (max-width: 730px) {
    header {
        max-width: auto;
        height: 100px;
        background-color: #4682B4;
    }
    
    .wrapper {
        float: none;
        display: inline-block;    
        text-decoration: none;
        margin-top: 32px;
        margin-bottom: 10px;  
        font-size: 25px;
    }

    .wrapper a {
        text-decoration: none;
        margin: 0;
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 32px;
        padding-bottom: 40px;
        color: #fff;
    }

    .wrapper a:hover {
        color: #4682B4;
        background-color: #F5F5F5;
        box-shadow: 8px 8px 20px rgba(0,0,0,0.5);
    } 
    
    /*========================================================*/
    
    img {
        width: 100%;
        max-height: 150px;
    }
    
    div.container-one {
        max-width: 90%;
        float: none;
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;
    }
    
    div.container-two {
        max-width: 90%;
        float: none;
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;
    }
    
    div.container-three {
        max-width: 90%;
        float: none;
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;
    }
    
    div.container-four {
        max-width: 90%;
        float: none;
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;
    }
    
    .btn {
        height: 30px;
        width: 100px;
        margin-left: 15px;
        font-size: 8px;
    }
    
    .img-social {
        width: 30px;
        max-height: 30px;
    }
}

@media screen and (max-width: 400px) {
    header {
        max-width: auto;
        height: 150px;
        background-color: #4682B4;
    }
    
    .wrapper a {
        text-decoration: none;
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 31px;
        padding-bottom: 19px;
        color: #fff;
    }
}
